* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.course {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}


.course--enrolled {
  background-color: #0095bb;
}

button {
  padding: 5px;
}

.event {
  margin-top:38px;
  margin-left: 50px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.popup-content {
  position: relative;
}

#students
{
  padding-top: 10px;
}

.close-btn {
  position: absolute;
  top: -20px;
  right: -10px;
  cursor: pointer;
  font-size: 20px;
}
